:root{
    --highlight-color: #3da8f4;
    --dark-color: #101111;
    --light-color: #f0f6f6;
}

*{
    /* Initialize box sizing */
    box-sizing: border-box;

    /* Initialize margin and padding */
    margin: 0;
    padding: 0;
}

/* Root element */
html{
    /* Root element font size */
    font-size: 22px;
}

body{
    /* Display content in the center of the page*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    /* Extra space between elements */
    gap: 1rem;
    
    /* Font */
    font-family: Arial, Helvetica, sans-serif;
    /* Default font color */
    color: var(--light-color);

    /* Background color */
    background-color: var(--dark-color);
}

/* Make certain items unselectable by the user */
.unselectable{
    -webkit-user-select: none;
}

/* Input and output containers */
.fahrenheit-container, .output-container{
    /* Display items vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    /* Align text to center */
    text-align: center;
}

/* Fahrenheit input field*/
#fahrenheit-input{
    /* Adjust width and height */
    width: 100%;
    height: 1.5rem;

    /* Padding */
    padding: 30px 10px;

    /* Border styling */
    border-style: none;
    border-radius: 10px;
    outline: 2px solid;

    /* Colors */
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 2rem;
}

/* Label styles */
label{
    /* Make labels display as block elements */
    display: block;
    width: 100%;

    /* Padding */
    padding: 10px 25px;

    /* Border style */
    border-radius: 10px;
    
    /* Color of label */
    background-color: var(--highlight-color);

    /* Font sizing */
    font-weight: 900;
    font-size: 1rem;
}

/* Celsius result output */
#celsius-output{
    font-size: 4rem;
}

